.mockup-show {
    /* opacity: 0; */
    overflow: hidden;
    /* height: 0rem; */
    width: 0rem;
    transition: all 1s ease-in-out;
    transition-property: all;
    animation: mockup-show 0.5s ease-in-out;
    animation-fill-mode: forwards !important;
    overflow: hidden;
    overflow-x: hidden;
}

/* to hide scrollbar when animating */
.mockup-show > div {
    overflow: hidden;
}

/* Hot fix prefix width glitch (fix the wrapped line prefix width)   */
.mockup-code pre[data-prefix]:before {
    min-width: 2rem;
}

.github-show {
    /* opacity: 0; */
    overflow: hidden;
    height: 0px;
    transition: all 1s ease-in;
    transition-property: all;
    animation: github-show 0.5s ease-in;
    animation-fill-mode: forwards;
}

.mockup-browser .mockup-browser-toolbar .input {
    animation: mockup-input-show 0.5s ease-in;
}
/* Hot fix magnify icon */
.mockup-browser .mockup-browser-toolbar .input:before {
    transform: translateX(var(--tw-translate-x, 0))
        translateY(var(--tw-translate-y))
        scale(var(--tw-scale-x, 1), var(--tw-scale-y, 1)) !important;
    /* fix magify stretch in Ipad */
    max-width: fit-content;
}

@keyframes mockup-show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        /* height: 15rem; */
        width: 25rem;
    }
}

@keyframes github-show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        height: 3.75rem;
    }
}

@keyframes mockup-input-show {
    0% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
        width: 11rem;
    }
}
